.foto{
    width: 100%;
    height: 400px;
}
.textos{
    margin: 70px;
}
.textos h2{
    color: #cb3c84;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}
.textos p{
    color: #767676;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}