@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;400&display=swap');

.App{
    height: 100vh;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.5px;
}